.exportButton {
  display: flex;
  font-family: 'Monaco', monospace;
  font-size: 12px;
  background-color: #222222;
  color: #d6d6d6;
}

.button {
  background: none;
  border: none;
  margin-right: 10px;
  color: #464646;
  fill: #464646;
}

.exportInput {
  background-color: #464646;
  color: #d6d6d6;
  height: 20px;
  min-width: 50px;
  font-size: 12px;
  padding: 2px 5px;
  border: 1px solid #4e4e4e;
  width: 11vw;
}

.exportInputError {
  border: 1px solid red;
  color: red;
}

.exportLabelError {
  color: red;
  margin-top: 0px;
}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 2100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #c9c9c959;
}

.rightPad {
  margin-right: 5px;
}

.actionButton {
  margin-top: 10px;
  cursor: pointer;
}

/* Modal Content/Box */
.modalContent {
  background-color: #222222;
  margin: 20% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1.5px solid #c0c0c0;
  width: 25vw; /* Could be more or less, depending on screen size */
  min-width: 250px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.submitDisabled {
  color: #494949;
  background-color: #3434343d;
  cursor: default;
}
